

.Rules{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.rectangle1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    background: #FFE7C2;
    border-radius: 21px;
}

#rectangle{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    width: 661px;
    height: 100px;
    margin-top: 25%;
    
    background: #FED8D8;
    border-radius: 21px;
}

.rectangle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 661px;
    height: 492px;

    background: #FFE7C2;
    border-radius: 21px;
  }

.Body{
    background-color: #FFF;
}