
.Title{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.Rules{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#greeting{
    position: fixed;
    margin-top: 5%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.rectangle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 700px;
    height: 350px;

    background: #DEEFF5;
    border-radius: 32%;
  }

.Button{
    position: fixed;
    left: 50%;
    margin-top: 9%;
    transform: translate(-50%);
    text-align: center;
}

.Icecreme1{
    display: inline-block;
    position: fixed;
    margin-top: 5%;
    margin-left: 5%;
}

.Icecreme2{
    display: inline-block;
    position: fixed;
    margin-top: 38%;
    margin-left: 5%;
}

.Icecreme3{
    display: inline-block;
    position: fixed;
    margin-top: 4%;
    margin-left: 85%;
}

.Icecreme4{
    display: inline-block;
    position: fixed;
    margin-top: 34%;
    margin-left: 85%;
}