.Join{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Create{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.rectangle1{
    position: fixed;
    width: 718px;
    height: 97px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 3%;

    background: linear-gradient(0deg, #FED8D8, #FED8D8), #FED8D8;
    border-radius: 16px;
}

#title{
    position: fixed;
    width: 440px;
    height: 60px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 3%;

    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height */


    color: #000000;
}

.rectangle2{
    position: fixed;
    width: 718px;
    height: 400px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 12%;

    background: #FFE7C2;
    border-radius: 21px;
}

.circle1{
    position: fixed;
    width: 546px;
    height: 78px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 6%;

    background: #ED8A8A;
    border-radius: 66px;
}


.circle2{
    position: fixed;
    width: 546px;
    height: 78px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20%;

    background: #ED8A8A;
    border-radius: 66px;
}

#jointxt{
    position: fixed;
    width: 237px;
    height: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 60px;
    /* identical to box height */


    color: #000000;
}

.Submit{
    position: fixed;
    left: 1%;
    margin-top: 1%;
}