:root {
    --light-orange: #ffe7c2ff;
    --orange: #ffd35cff;
    --mint: #9ee6c9ff;
    --green: #00e08eff;
    --light-blue: #8ed1fcff;
    --off-white-blue: #C3E8FD;
    --blue: #0693e3ff;
    --gray-blue: #abb8c3ff;
    --gray: #C3CDD5;
    --pink: #f58eaaff;
    --light-pink: #fdc3c3ff;
    --purple: #e1adffff;
    --light-purple: #D7C9E3;
    --off-white-purple: #FAF5FF;
}

.newCircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* margin: 10px; */
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
  }

.avatar{
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  margin-bottom: 75%;
}

.palette{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}