.Chat-container {
    height: 90%;
    width: 100%;
  }
  
  .Chat-newContainer {
    width: 100%;
    height: 10%;
    /* position: fixed; */
  }
  
  .Chat-historyContainer {
    /* position: fixed; */
    /* margin-left: 85%; */
    /* flex-grow: 1; */
    overflow-y: auto;
  }
  